
.node-notes-wrapper {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

.node-note {
  background: #fafafa;
  border: 1px #ccc solid;
  margin: 0 0 10px;
}

.node-note label {
  display: inline;
  font-weight: normal;
}

.note-info {
  background: #eee;
  border-bottom: 1px #ccc solid;
  padding: 5px 10px;
}

.node-note .note-id {
  display: inline-block;
  padding: 0 10px 0 0;
}

.node-note .author {
  display: inline-block;
}

.node-note .links {
  display: inline-block;
  float: right;
  margin: 0 10px 0 0;
}

.node-note .created {
  color: #777;
  display: inline-block;
  float: right;
  font-style: italic;
}

.node-note .body {
  padding: 5px 10px;
}

.node-note .body p {
  margin: 10px 0;
}

#node-note-form .form-select.error {
  border: 1px #ccc solid;
}
